{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col col-md-5">
      {% include '__messages.html' %}
      <div class="text-center"><h2>Login</h2></div>
      <form method="POST">
        {% csrf_token %} {% for field in form %}
        <div class="form-floating mb-3">{{field}} {{field.label_tag}}</div>
        {% endfor %}
        <div class="form py-2">
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
